body{
  font-family: verdana;
}

nav{
  width: 60%;
  margin-left: 20%;
  text-align: center;
}

button{
  width: 80px;
}

ul{
  list-style: none;

}
a{
  text-decoration: none;
}
a:hover{
  color:white;
}
li:hover{
  background-color: lightgrey;
}

.enabled-menu{
  display: block;
}
.disabled-menu{
  display: none;
}
